body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  color: #2c3e50;
  text-align: center;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #85c1e9; /* baby blue */
  color: white;
}

button:hover {
  background-color: #aed6f1;
}

#hasil {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  background-color: #85c1e9; /* baby blue */
}